.container-resize{
    position: relative;
    left: 50%;
    width: 550px;
}
.close-btn{
    float: right;}
span{
    width: 150px;
    position: relative;
    top: -1px;
    left: 2px;
}
.delete{
    display: inline-block;
    float: right;
}